<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:mongo="http://www.springframework.org/schema/data/mongo"
	xsi:schemaLocation="http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop.xsd      
	http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans.xsd    
	http://www.springframework.org/schema/context     http://www.springframework.org/schema/context/spring-context.xsd  
	http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
	http://www.springframework.org/schema/data/mongo http://www.springframework.org/schema/data/mongo/spring-mongo.xsd">
	
<!-- 	<context:property-placeholder location="classpath:mongodb.properties" /> -->
	
<!-- 	<mongo:mongo-client id="mongo" host="127.0.0.1" port="27017"> -->
<!-- 		<mongo:client-options connections-per-host="${mongo.connectionsPerHost}"  -->
<!--         threads-allowed-to-block-for-connection-multiplier="${mongo.threadsAllowedToBlockForConnectionMultiplier}"  -->
<!--         connect-timeout="${mongo.connectTimeout}"  -->
<!--         max-wait-time="${mongo.maxWaitTime}"  -->
<!--         socket-keep-alive="${mongo.socketKeepAlive}"  -->
<!--         socket-timeout="${mongo.socketTimeout}"/> -->
<!-- 	</mongo:mongo-client> -->
	
	<!-- mongo的工厂，通过它来取得mongo实例,dbname为mongodb的数据库名，没有的话会自动创建 -->
<!--     <bean id="mongoDbFactory" -->
<!--         class="org.springframework.data.mongodb.core.SimpleMongoDbFactory"> -->
<!--         <constructor-arg ref="mongo" /> -->
<!--         <constructor-arg value="test" /> -->
<!--     </bean> -->
    
<!--     <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate"> -->
<!--         <constructor-arg name="mongoDbFactory" ref="mongoDbFactory" /> -->
<!--     </bean> -->
	
	<!-- 通过uri进行注入 -->
	<mongo:db-factory id="mongoDbFactory" uri="${mongo.uri}" />
	
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongoDbFactory" ref="mongoDbFactory" />
	</bean>
	
</beans>	
